*{
  font-family: sans-serif;

}
body{
  background-color: #4b708e;
}

.overlay{
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

}


.popup{
  margin-top: -130px;
    background: #f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Courgette', cursive;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .9s ease all;
    transform: scale(1.1);
}

h1{
  text-align: center;
}
input{
  border-radius: 5px;
  margin:5px;
  width: 20%;
  font-size: 20px;
}
select{
  border-radius: 5px;
  margin:5px;
  font-size: 20px;
}
input[type="submit"]{
  background-color: #ffbf00;
  height: 30px;
  width: 20%;
  font-size: 20px;
  text-align:center;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: auto;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #f2acac;
}
